[submodule "BallGameExample"]
	path = BallGameExample
	url = https://github.com/Certora/BallGameExample.git
[submodule "ERC20Example"]
	path = ERC20Example
	url = https://github.com/Certora/ERC20Example.git
[submodule "LiquidityPoolExample"]
	path = LiquidityPoolExample
	url = https://github.com/Certora/LiquidityPoolExample.git
[submodule "FullProjects/openzeppelin-contracts"]
	path = FullProjects/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
[submodule "aave-token-v3"]
	path = aave-token-v3
	url = https://github.com/Certora/aave-token-v3.git
[submodule "ConstantProductExample"]
	path = ConstantProductExample
	url = git@github.com:Certora/ConstantProductExample.git
